<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haolan.hotsearchweb.mapper.UserMapper">

    <select id="selectUser" resultType="com.haolan.hotsearchweb.model.UserDO">
        select * from user order by id
    </select>

    <update id="updateUserInfo" parameterType="com.haolan.hotsearchweb.model.UserDO">
        update user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="user_pic != null">user_pic = #{user_pic}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePassword">
        update user set password = #{newPassword} where id = #{id}
    </update>
</mapper>
